  <div class="container">
    <div class="row">
      <div class="twelve columns title">
          <center>
        <h4>UptownFunkify it!</h4>
        <p class="play-btn-p"><a href="#play" id="playvideo"><i class="fa fa-play-circle-o play-btn"></i></a>
              
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7004039348107787"
     data-ad-slot="9984523356"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
              <p class="stop-btn"><a href="#stop" class="stop-btn" id="stopvideo">stop</i></a></p>
            <div class='shareaholic-canvas' data-app='share_buttons' data-app-id='15441598'></div>
      </center>
        </div>
    </div>
  </div>
<div class="bottom-bar"><a target="_blank" href="https://www.youtube.com/watch?v=OPf0YbXqDm0">link to official youtube music video</i></a> - created by <a href="https://twitter.com/mxsawyer">macleod sawyer</a></div>
    
<iframe id="playerid" width="1" height="1" frameborder="0" allowtransparency="true" allowfullscreen></iframe>

<script>
$("#playvideo").click(function(){
var video = $("#playerid").attr("src");
$("#playerid").attr("src","https://www.youtube.com/embed/7Ya2U8XN_Zw?autoplay=1&loop=1");
$("#playerid").attr("src",video);
 });
    
$("#stopvideo").click(function(){
$("#playerid").attr("src","https://www.youtube.com/embed/7Ya2U8XN_Zw");
$("#playerid").attr("src",stopvideo);
 });
</script>
